*.pyc
.env
u.env
__pycache__/
.vscode/
.idea/
.sqlite3
db.sqlite3
util/service_account.json
media/
test.py
.txt
service_account.json
utils/service_account.json
test/
venv/
gg.txt
node_modules/
python/

python_dependencies/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
staticfiles